html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body{
  background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(124,193,214,1) 20%, rgba(213,231,237,1) 100%);
  padding: 20px;
  font-size: 20px;
}
 #computer,
 #choice,
 #result{
   margin: 15px 0;
   padding: 10px;
 }
 #reset{
   margin: 10px 0;
 }

img{
  border: black 2px solid;
}

button{
  border-radius: 3px;
}
